/*Clases*/
.container{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}
.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px 6px rgba(0, 0, 0, 23);
    position: relative;
    padding: 1.8em;

}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}
.close{
    height: 40px;
    width: 40px;
    color:white;
    border-radius: 50%;
    background-color: #2193b0;
    display: inline-block;
    font-weight: 300;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}
.table tr:nth-child(even){
    background-color: lightblue;
}

.fa-solid{
    color: #ffc400;
}


.title-item{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
    padding-bottom: 1em;
    font-size: 2em;
}
/*identificadores*/ 
#boton-pago{
    background-color: yellow;
}   

/*tags*/

a{
    text-decoration: none;
    color: #d500f9;
}
html{
    font-family: 'Nunito', sans-serif;
}

.position{
    margin-right: 0.5em;
}
.address{
    font-weight: bold;
    color: #2193b0;
    font-size: 1.2em;
}

.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}